
[Unit]
Description=Backend.Service
After=network.target

[Service]
User=expense
WorkingDirectory=/app
Environment=DB_HOST=mysql.practice25.online
ExecStart=/bin/node /app/index.js
Restart=always
SyslogIdentifier=Backend

[Install]
WantedBy=multi-user.target
